<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">

</script>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}


<h1>list</h1>
<div class="list">
    {% include 'offers/list.html.twig' with offers %}
</div>

<script type="text/javascript">
    function aButtonPressed(e) {
        var name = $('#form_name').val();

        $.ajax({
            type: "POST",
            url: 'http://localhost/Packages/Libraries/malu/offers/web/app_dev.php/newoffer',
            data:  {name: name},
            success: function (data) {
                console.log('hi');
                console.log(data);

                if (data.code == 200 && data.success) {//dummy check
                    $('.list').html(data.html);
                }
            },
            complete: function(one, two){
                console.log('complete');
            },
            dataType: "json"
        });
    }

    $(document).ready(function () {


        $('#form_save').on('click', function (e) {
            e.preventDefault();
            aButtonPressed();
        });
    });
    console.log('4');

</script>